<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__inner__item" data-openburger>
                <img src="./assets/images/header/burger.svg" alt="burger" class="header__inner__item__burger">
                <span class="header__inner__item__title">Menu</span>
            </div>
            <div class="header__inner__item">
                <img src="./assets/images/header/UnionCenter.svg" alt="union" class="header__inner__item__img">
            </div>
            <div class="header__inner__item">
                <img src="./assets/images/header/Search.svg" alt="Search" class="header__inner__item__search">
                <span class="header__inner__item__title">Search</span>
            </div>
        </div>
    </div>
</header>